<?xml version="1.0"?>
<model>
  <name>monolith</name>
  <version>1.0</version>
  <sdf version="1.5">monolith.sdf</sdf>

  <author>
    <name>FirstBorn</name>
    <email>burnsca@amazon.com</email>
  </author>

  <description>
    Monoliths are machines built by an unseen extraterrestrial species ~ 2001 A Space Odyssey
  </description>
</model>