{"filter":false,"title":"rover.launch","tooltip":"/simulation_ws/src/training-grounds/launch/rover.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1574449851500,"hash":"90801bdc2f734a8722be6f8866a3d551ad1e937c"}