{"filter":false,"title":"training_gear.launch","tooltip":"/simulation_ws/src/training-grounds/launch/training_gear.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":48,"state":"start","mode":"ace/mode/xml"}},"timestamp":1574463329400,"hash":"504019a3ff4f5cce90d6e667d9b94f5e34e02dea"}