{"filter":false,"title":"mars.launch","tooltip":"/simulation_ws/src/mars/launch/mars.launch","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":22,"column":0},"end":{"row":22,"column":93},"action":"remove","lines":["\t<node name=\"agent\" pkg=\"mars\" type=\"run_local_rl_agent.sh\" output=\"screen\" required=\"true\"/>"],"id":2},{"start":{"row":21,"column":51},"end":{"row":22,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":22,"column":9},"end":{"row":22,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1575048406270,"hash":"fa475bed40a9ad356bc0f2dabbaff9ca30d36432"}