{"filter":false,"title":"rover_mars.launch","tooltip":"/simulation_ws/src/mars/launch/rover_mars.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":21},"end":{"row":18,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":69,"mode":"ace/mode/xml"}},"timestamp":1575035775860,"hash":"fbdbe01a9dc45cb314a2df29a7640ccb5c56360c"}