{"filter":false,"title":"rover.launch","tooltip":"/simulation_ws/src/mars/launch/rover.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":40},"end":{"row":5,"column":40},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1575035775860,"hash":"fbdbe01a9dc45cb314a2df29a7640ccb5c56360c"}